$colour_background: #eee;
$colour_text: #690;
$font_base_size: 16px !default;

html {
  font-size: $font_base_size;
  height: 100%;
}

body {
  font-size: 100%;
  font-family: sans-serif;
  margin: 0;
  color: $colour_text;
  background-color: $colour_background;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  max-width: 30ch;
  margin: 0;
  text-align: center;
}

.no-sass {
  // This stops the error message from displaying
  // You can delete these selector and the
  // corresponding HTML when you've got node-sass working.
  display: none;
}